@page "/trainers"
@inject TrainerService TrainerService
@using GymManager.Shared.DTOs.Member
@using GymManager.Client.Services
@using GymManager.Client.Components

<Navbar />
<Banner />
<ClientInfo />

<section class="py-5 bg-white text-dark">
    <div class="container-fluid text-center">
        <h2 class="mb-5" style="font-size: 2.5rem;">Meet our trainers!</h2>

        @if (trainers == null)
        {
            <p>Loading trainers...</p>
        }
        else if (trainers.Count == 0)
        {
            <p>No trainers found.</p>
        }
        else
        {
            <div class="row justify-content-center gx-4">
                @foreach (var trainer in trainers)
                {
                    <div class="col-md-3 mb-4 text-center">
                        <div class="trainer-img-wrapper mx-auto">
                            <img src="@trainer.PhotoPath" class="trainer-img" alt="@trainer.FirstName @trainer.LastName" />
                        </div>
                        <h4 class="mt-3">@trainer.FirstName @trainer.LastName</h4>
                        <p class="text-muted">@trainer.Description</p>
                    </div>
                }
            </div>
        }
    </div>
</section>

<Footer />

@code {
    private List<ReadTrainerDto>? trainers;

    protected override async Task OnInitializedAsync()
    {
        trainers = await TrainerService.GetAllMemberAsync();
    }
}
